doctype html
html(lang="en")
  head
    title js-dust-0
    link(rel="stylesheet", href="index.less")
    link(rel="stylesheet", href="styles/reset.css")
    link(rel="stylesheet", href="styles/pwa.css")
    link(type="module", href="index.js")

    block headcontent

  body
    block content