doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="index.less")
    link(rel="stylesheet", href="styles/reset.css")
    link(rel="stylesheet", href="styles/pwa.css")
    link(type="module", href="index.js")
  body
    h1 js-dust-0